html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 1310px;
    margin: 0 auto;
}

h1 a {
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding-left: 20px;
    color: #007D7B;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0px;
}

.topImage {
    float: left;
}

nav {
    text-align: right;
    width: auto;
    float: right;
    padding: 20px;
    margin-top: -85px;
    margin-left: 450px;
}

nav li {
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 50px;
    text-align: right;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #007D7B;
}

.top {
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #007D7B;
    color: #fff;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
    
.top:hover {
    background-color: #FFFFFF;
    color: #000;
}

.about {
    text-align: right;
    float: right;
    padding-right: 10px;
    margin: 0 auto;
}

.gallery {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    height: 100px;
    float: none;
}

figure {
    margin: 0;
}

div.grid {
    float: none;
    display: grid;
    grid-template-columns: 417px 417px 417px;
    row-gap: 10px;
    column-gap: 10px;
}

#wrapper {
    float: none;
    padding: 10px;
    background-color: #FFFFFF;
}

p {
    font-size: 20px;
}

figure figcaption {
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    color: black;
}

.topLeft {
    position: absolute;
    margin-top: -281px;
    margin-left: 10px;
}

.topLeftIran {
    position: absolute;
    margin-top: -630px;
    margin-left: 10px;
}

.topLeftWhite {
    position: absolute;
    margin-top: -281px;
    margin-left: 10px;
    color: white;
}

.bottomRightWhite {
    position: absolute;
    margin-top: -35px;
    margin-left: 250px;
    color: white;
}

.bottomRightWhiteHI {
    position: absolute;
    margin-top: -35px;
    margin-left: 310px;
    color: white;
}

.bottomRightWhiteUK {
    position: absolute;
    margin-top: -35px;
    margin-left: 340px;
    color: white;
}

.bottomRightWhiteIreland {
    position: absolute;
    margin-top: -35px;
    margin-right: 0px;
    margin-left: 290px;
    color: white;
}

.bottomLeftWhite {
    position: absolute;
    margin-top: -35px;
    margin-left: 20px;
    color: white;
}

.bottomLeft {
    position: absolute;
    margin-top: -35px;
    margin-left: 20px;
}

.contactSection {
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

form {
    width: 850px;
    margin: 0 auto;
}

body > section {
    text-align: center;
}

label {
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

input {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
}

input[type=button] {
    display: block;
    background-color: #007D7B;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0px;
    border-radius: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

input[type=text], input[type=email] {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

::placeholder {
    color: #007D7B;
    text-transform: uppercase;
    opacity: 1;
    font-size: 16px;
}

footer {
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}