html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 1310px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding-left: 20px;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0px;
}

.headerWidth {
    width: 1310px;
    margin: 0 auto;
    display: inline;
}

.topImage {
    float: left;
}

nav ul li a {
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
}

ul li {
    display: inline;
    float: right;
}

nav ul li a:hover {
    color: #007D7B;
}

a:link {
    text-decoration: none;
    color: #007D7B;
}

/**
    .top {
        position: sticky;
        background-color: #007D7B;
        color: #fff;
    }
    
    .top:hover {
        background-color: #FFFFFF;
        color: #000;
    }
*/

.about {
    text-align: right;
    float: right;
    padding-right: 20px;
}

.gallery {
    float: left;
    margin-top: 10px;
}

/**
    .grid {
        float: none;
        display: grid;
        grid-template-columns: 420px 420px 420px;
        row-gap: 10px;
        column-gap: 10px;
        margin-right: 0px;
        margin-left: 0px;
    }
*/

#wrapper {
    width: 1310px;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFFFFF;
    float: none;
}

p {
    font-size: 20px;
}

figcaption {
    font-size: 16px;
    position: relative;
}

.contactSection {
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

form {
    width: 850px;
    margin: 0 auto;
}

body > section {
    text-align: center;
}

label {
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

input {
    color: #007D7B;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
}

button {
    display: block;
    background-color: #007D7B;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 150px;
    padding-left: 150px;
    border-radius: 15px;
    text-transform: uppercase;
}

input[type=text] {
    padding: 5px;
}

[placeholder] {
    color: #007D7B;
    text-transform: uppercase;
    opacity: 100%;
}

footer {
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}