html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 1310px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    color: #007D7B;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    display: block;
}

h1:hover {
    color: #fff;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    float: right;
}

.headerWidth {
    width: 1310px;
    margin: 0 auto;
    display: block;
}

.topImage {
    float: left;
}

nav ul li a {
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px, 10px, 5px, 10px;
    float: right;
}

ul > li {
    display: inline;
}

nav ul li a:hover {
    color: #007D7B;
    padding: 5px, 10px, 5px, 10px;
}

a:link {
    text-decoration: none;
}

.top {
    position: absolute;
    background-color: #007D7B;
    color: #fff;
}

.top:hover {
    background-color: #FFFFFF;
    color: #000;
}

#wrapper {
    width: 1310px;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFFFFF;
    float: none;
}

p {
    font-size: 20px;
}

figcaption {
    font-size: 16px;
}

form {
    width: 850px;
    margin: 0 auto;
}

label {
    color: #fff;
    font-size: 16px;
    display: block;
}

input {
    color: #007D7B;
    font-size: 16px;
    display: block;
}

footer {
    font-size: 16px;
    color: #FFFFFF;
}